<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>修改密码</title>
<link rel="stylesheet" type="text/css" href="assets/css/css.css" />
<script type="text/javascript" src="assets/js/jquery.min.js"></script>
</head>
<body>
	<div id="pageAll">
		<div class="pageTop">
			<div class="page">
				<img src="assets/img/coin02.png" /><span><a href="#">首页</a>&nbsp;-&nbsp;<a
					href="#">系统管理</a>&nbsp;-</span>&nbsp;修改密码
			</div>
		</div>
		<Form id='thisForm'>
		<div class="page ">
			<!-- 修改密码页面样式 -->
			<div class="bacen">
				<div class="bbD">&nbsp;&nbsp;&nbsp;&nbsp;您的账号ID：&nbsp;&nbsp;&nbsp;<span id='userid'>123</span></div>
				<div class="bbD">
					&nbsp;&nbsp;&nbsp;&nbsp;输入旧密码：
					<input name='oldPwd' id="pwd1" type="password" class="input3"/> 
					<img class="imga" src="assets/img/ok.png" /><img class="imgb" src="assets/img/no.png" />
				</div>
				<div class="bbD">
					&nbsp;&nbsp;&nbsp;&nbsp;输入新密码：
					<input name='pwd' id="pwd2" type="password" class="input3"/> 
					<img class="imga" src="assets/img/ok.png" /><img class="imgb" src="assets/img/no.png" />
				</div>
				<div class="bbD">
					&nbsp;&nbsp;&nbsp;&nbsp;确认新密码：
					<input name='pwd2' id="pwd3" type="password" class="input3"/> 
						<img class="imga" src="assets/img/ok.png" />
						<img class="imgb" src="assets/img/no.png" />
				</div>
				<br/>
				<p id='loginFailMsg' style='color: red;'><p>
				<div class="bbD">
					<p class="bbDP">
						<button type="button" class="btn_ok btn_yes" onclick="checkpwd()">修改</button>
						<button type="reset" class="btn_ok btn_no" >重置</a>
					</p>
				</div>
			</div>

			<!-- 修改密码页面样式end -->
		</div>
		</Form>
	</div>
</body>
<script type="text/javascript">
var userid;
//页面加载时执行   
$(function(){  
	userid=getCookie('user_id');
	$('#userid').text(userid);
	$('#loginFailMsg').text("");
});
function checkpwd()
{
	var p1 = $('#pwd1').val();
	var p2 = $('#pwd2').val();
	var p3 = $('#pwd3').val();
	if(p1.length >= 6 && p1.length <= 18 && p2.length >= 6 && p2.length <= 18 && p3.length >= 6 && p3.length <= 18){
		if(p2 == p3){
			$('#loginFailMsg').text("");
			changePwd();
		}
		else{
			$('#loginFailMsg').text("两次输入密码不一致");
		}
	}
	else{
		$('#loginFailMsg').text("密码长度有误");
	}
}
function getCookie(name)
{
	var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");
	if(arr=document.cookie.match(reg))
		return decodeURI(arr[2], "UTF-8");
	else
		return null;
}
function changePwd(){
	$.ajax({  
	    type: "post",  
	    url:  "user/changePwd?userId="+userid, 
	    data: $('#thisForm').serialize(),
	    async: false,
	    contentType: "application/x-www-form-urlencoded; charset=utf-8",  
	    success: function(result) {  
	    	if(result.isOk){
	    		alert("修改密码成功");
	    		parent.location.href = "login/logout";
	    	}
	    	else{
	    		//alert("修改密码失败 :" + result.msg);
	    		$('#loginFailMsg').text(result.msg);
	    	}
	    }
	}); 
}
</script>
</html>