<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>课程列表</title>
<link rel="stylesheet" type="text/css" href="assets/css/css.css" />
<script type="text/javascript" src="assets/js/jquery.min.js"></script>
<link href="assets/css/haiersoft.css" rel="stylesheet" type="text/css" media="screen,print" />
<link href="assets/css/print.css" rel="stylesheet" type="text/css" media="print" />
<script src="assets/js/jquery-1.10.1.min.js"></script>
<script src="assets/js/side.js" type="text/javascript"></script>
<!-- Boostrap start-->
<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="assets/css/colorpicker.css" />
<link rel="stylesheet" href="assets/css/datepicker.css" />
<link rel="stylesheet" href="assets/css/uniform.css" />
<link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
<!-- Boostrap End -->
</head>
		<!-- Contents -->
		<div id="Contents">
			<script type="text/javascript">
				$(
						function() {
							$(".select").each(
									function() {
										var s = $(this);
										var z = parseInt(s.css("z-index"));
										var dt = $(this).children("dt");
										var dd = $(this).children("dd");
										var _show = function() {
											dd.slideDown(200);
											dt.addClass("cur");
											s.css("z-index", z + 1);
										};
										var _hide = function() {
											dd.slideUp(200);
											dt.removeClass("cur");
											s.css("z-index", z);
										};
										dt.click(function() {
											dd.is(":hidden") ? _show()
													: _hide();
										});
										dd.find("a").click(function() {
											dt.html($(this).html());
											_hide();
										});
										$("body").click(
												function(i) {
													!$(i.target).parents(
															".select").first()
															.is(s) ? _hide()
															: "";
												});
									})
						})
			</script>
<body>
        <img src="assets/img/coin02.png" /><span><a href="#">首页</a>&nbsp;-&nbsp;<a
			href="#">课程信息</a>&nbsp;-</span>&nbsp;课程列表
<!-- MainForm -->
			<div id="MainForm">
				<div class="form_boxB">
					<h2>课程列表</h2>
					<table id="tableList" cellpadding="0" cellspacing="0">
						<tr id='tableHead'>
							<td>课程号</td>
							<td>课程名称</td>
							<td>学生人数</td>
							<td>上课时间</td>
							<td>占用教室ID</td>	
							<td>开课标志</td>													
						</tr>
					</table>
					<p class="msg">共找到 <span id="count" style="color: green"> 0 </span> 条课程记录</p>
				</div>
			</div>
			<!-- /MainForm -->
			<p class="msg">注：一但点击开课，学生就不能再对该课程进行选课</p>
		</div>
		<!-- /Contents -->
</body>
<script type="text/javascript">
	var userid;
	var tableList;
	//页面加载时执行   
	$(function(){  
		userid=getCookie('user_id');
		getList();
	});
	function getList(){
		$.ajax({  
		    type: "post",  
		    url:  "course/getCourseList?teacherId="+userid,  
		    async: false,
		    contentType: "application/x-www-form-urlencoded; charset=utf-8",  
		    success: function(result) {  
		        //alert(result);
		        if(result.code == -1){
		        	 $('.msg').text(result.msg);
		        }
		        else{
			        $('#count').text(" " + result.data.length + " ");
			        tableList = result.data;
		        }
		        // 删除除第一行(表头)外的所有行  
		        $('#tableList tr:not(:first)').remove();  
		        for (var i = 0; i < result.data.length; i++) {
		        	var courseId = result.data[i].id;
		        	var courseName = result.data[i].name;
		        	var stuCount = result.data[i].studentCount;
		        	var week = result.data[i].week;
		        	var partStart = result.data[i].partStart;
		        	var partEnd = result.data[i].partEnd;
		        	var enable = result.data[i].enable;
		        	var roomId = result.data[i].roomId;
		        	var Coursetime = "星期"+week+", "+partStart+"-"+partEnd+" 节";
		        	// 以 HTML 创建元素
		        	if(enable == 1){
		        		var buttontxt = "<td><button class='btn btn-info btn-mini' type='button' onclick='createCourseList("+i+")'>开课</button></td>"
		        	}
		        	else{
		        		var buttontxt = "<td>已开课</td>"
		        	}
		        	var txt="<tr id='row" + (i+1) + "'><td>"+courseId+"</td><td>"+courseName+"</td><td>"+stuCount+"</td><td>"+Coursetime+"</td><td>"+roomId+"</td>"+buttontxt+"</tr>";
		        	$("#tableList tr:eq("+i+") ").after(txt);          // 在表头之后插入新元素
		        }
		    }
		}); 
	}
	function getCookie(name)
	{
		var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");
		if(arr=document.cookie.match(reg))
			return decodeURI(arr[2], "UTF-8");
		else
			return null;
	}
	function createCourseList(index){
		var courseId = tableList[index].id;
		$.ajax({  
		    type: "post",  
		    url:  "course/createStudentList?courseId="+courseId,  
		    async: false,
		    contentType: "application/x-www-form-urlencoded; charset=utf-8",  
		    success: function(result) {  
		        //alert(result);
		        if(result.isOk){
		        	 alert("开课成功");
		        	 var txt = "已开课";
		        	 $("#row"+(index+1)).find("td").eq(5).text(txt);
		        }
		        else{
		        	 alert("开课失败："+result.msg); 
		        }
		    }
		}); 
	}
	function testButton(index){
		var txt = "已开课";
   	 	$("#row"+(index+1)).find("td").eq(5).text(txt);
	}
</script>