<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页左侧导航</title>
<link rel="stylesheet" type="text/css" href="assets/css/public.css" />
<script type="text/javascript" src="assets/js/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/public.js"></script>
<head></head>

<body id="bg">
	<!-- 左边节点 -->
	<div class="container">

		<div class="leftsidebar_box">
			<a href="main" target="main"><div class="line">
					<img src="assets/img/coin01.png" />首页
				</div></a>
			<dl class="system_log">
				<dt>
					<img class="icon1" src="assets/img/coin01.png" /><img class="icon2"
						src="assets/img/coin02.png" /> 课程信息<img class="icon3"
						src="assets/img/coin19.png" /><img class="icon4"
						src="assets/img/coin20.png" />
				</dt>
				<dd>
					<img class="coin11" src="assets/img/coin111.png" /><img class="coin22"
						src="assets/img/coin222.png" /><a class="cks" href="courseInfo"
						target="main">课程列表</a><img class="icon5" src="assets/img/coin21.png" />
				</dd>
				<dd>
					<img class="coin11" src="assets/img/coin111.png" /><img class="coin22"
						src="assets/img/coin222.png" /><a class="cks" href="studentList"
						target="main">学生名单</a><img class="icon5" src="assets/img/coin21.png" />
				</dd>
				<dd>
					<img class="coin11" src="assets/img/coin111.png" /><img class="coin22"
						src="assets/img/coin222.png" /><a class="cks" href="leaveList"
						target="main">请假查询</a><img class="icon5" src="assets/img/coin21.png" />
				</dd>
				<dd>
					<img class="coin11" src="assets/img/coin111.png" /><img class="coin22"
						src="assets/img/coin222.png" /><a class="cks" href="absentList"
						target="main">旷课查询</a><img class="icon5" src="assets/img/coin21.png" />
				</dd>
			</dl>
			<dl class="system_log">
				<dt>
					<img class="icon1" src="assets/img/coin07.png" /><img class="icon2"
						src="assets/img/coin08.png" /> 学生点名<img class="icon3"
						src="assets/img/coin19.png" /><img class="icon4"
						src="assets/img/coin20.png" />
				</dt>
				<dd>
					<img class="coin11" src="assets/img/coin111.png" /><img class="coin22"
						src="assets/img/coin222.png" /><a href="roll" target="main"
						class="cks">随机点名</a><img class="icon5" src="assets/img/coin21.png" />
				</dd>
				<dd>
					<img class="coin11" src="assets/img/coin111.png" /><img class="coin22"
						src="assets/img/coin222.png" /><a href="autoSignList" target="main"
						class="cks">查看签到</a><img class="icon5" src="assets/img/coin21.png" />
				</dd>
			</dl>
			<dl class="system_log">
				<dt>
					<img class="icon1" src="assets/img/coin10.png" /><img class="icon2"
						src="assets/img/coin09.png" /> 个人信息<img class="icon3"
						src="assets/img/coin19.png" /><img class="icon4"
						src="assets/img/coin20.png" />
				</dt>
				<dd>
					<img class="coin11" src="assets/img/coin111.png" /><img class="coin22"
						src="assets/img/coin222.png" /><a href="myInfo" target="main" 
						class="cks">个人信息</a><img class="icon5"
						src="assets/img/coin21.png" />
				</dd>
			</dl>
			<dl class="system_log">
				<dt>
					<img class="icon1" src="assets/img/coin11.png" /><img class="icon2"
						src="assets/img/coin12.png" /> 校园新闻<img class="icon3"
						src="assets/img/coin19.png" /><img class="icon4"
						src="assets/img/coin20.png" />
				</dt>
				<dd>
					<img class="coin11" src="assets/img/coin111.png" /><img class="coin22"
						src="assets/img/coin222.png" /><a href="p3" target="main" 
						class="cks">校园新闻</a><img class="icon5" src="assets/img/coin21.png" />
				</dd>
			</dl>
			
			
			
			<dl class="system_log">
				<dt>
					<img class="icon1" src="assets/img/coinL1.png" /><img class="icon2"
						src="assets/img/coinL2.png" /> 系统管理<img class="icon3"
						src="assets/img/coin19.png" /><img class="icon4"
						src="assets/img/coin20.png" />
				</dt>
				<dd>
					<img class="coin11" src="assets/img/coin111.png" /><img class="coin22"
						src="assets/img/coin222.png" /><a href="changepwd"
						target="main" class="cks">修改密码</a><img class="icon5"
						src="assets/img/coin21.png" />
				</dd>
				<dd>
					<img class="coin11" src="assets/img/coin111.png" /><img class="coin22"
						src="assets/img/coin222.png" /><a href="login/logout" 
						target="_parent" class="cks">退出</a><img
						class="icon5" src="assets/img/coin21.png" />
				</dd>
			</dl>

		</div>

	</div>
</body>
</html>
