<!DOCTYPE html>
<html lang="en">
<head>
<title>个人资料页面</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="assets/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="assets/css/matrix-style.css" />
<link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
<script type="text/javascript" src="assets/js/jquery.min.js"></script>
<script src="assets/js/data_caches.js" type="text/javascript"></script>
</head>
<body>
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#">Addons pages</a> <a href="#" class="current">invoice</a> </div>
    <h1>个人资料</h1>
  </div>
  <div class="container-fluid"><hr>
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-briefcase"></i> </span>
            <h5>Personal Infomation</h5>
          </div>
          <div class="widget-content">
            <div class="row-fluid">
              <div class="span6">
                <table class="">
                  <tbody>
                    <tr>
                      <td><h4 id='username'>Your Company Name</h4></td>
                    </tr>
                    <tr>
                      <td>福州大学&nbsp;<span id='cname'>数计学院</span>&nbsp;<span id='sex'>男</span></td>
                    </tr>
                    <tr>
                      <td id='ptitle'>教授</td>
                    </tr>
                    <tr>
                      <td id='region'>闽侯县/上街镇</td>
                    </tr>
                    <tr>
                      <td>Mobile Phone: <span id='phoneNum'>13235905890</span></td>
                    </tr>
                    <tr>
                      <td id='email'>me@company.com</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="span6">
                <table class="table table-bordered table-invoice">
                  <tbody>
                    <tr>
                    <tr>
                      <td class="width30">教师编号:</td>
                      <td class="width70" id='uid'><strong>TD-6546</strong></td>
                    </tr>
                    <tr>
                      <td>上岗日期:</td>
                      <td><strong>March 23, 2013</strong></td>
                    </tr>
                    <tr>
                      <td>录入日期:</td>
                      <td><strong>April 01, 2013</strong></td>
                    </tr>
                  <td class="width30">备注信息:</td>
                    <td class="width70">无</td>
                  </tr>
                    </tbody>
                  
                </table>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript">
var userid;
//页面加载时执行   
$(function(){  
	userid=getCookie('user_id');
	getInfo();
});
function getInfo(){
	$.ajax({  
	    type: "post",  
	    url:  "user/getTeacherInfo?teacherId="+userid,  
	    async: false,
	    contentType: "application/x-www-form-urlencoded; charset=utf-8",  
	    success: function(result) {  
	    	$('#username').text(result.data.name);
	    	$('#cname').text(result.data.cname);
	    	$('#sex').text(result.data.sex);
	    	$('#ptitle').text(result.data.proTitle);
	    	$('#phoneNum').text(result.data.phone);
	    	$('#email').text(result.data.email);
	    	$('#uid').text(result.data.id);
	    }
	}); 
}
function getCookie(name)
{
	var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");
	if(arr=document.cookie.match(reg))
		return decodeURI(arr[2], "UTF-8");
	else
		return null;
}
</script>